################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/Backend/Backend/bin/Debug/net8.0
/Backend/Backend/Backend/obj/Debug/net8.0
/Backend/Backend/Backend/obj
