.homepage-wrapper {
    width: 100vw;
    height: 98vh;
    display: flex;
    justify-content: center;
}

.homepage-container {
    width: 90%;
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 10px;
    margin: 2rem 0;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2rem 0;

}

.search-container {
    display: grid;
    width: 100%;
    grid-template-columns: 80% 20%;
    gap: 5px;
    margin: 2rem 0;
}

.predmet,
.professor {
    background-color: white;
    border-radius: 16px;
    padding: 20px;
    margin: 20px 0px;
}

.predmet:hover {
    background-color: #faf6f9;
    cursor: pointer;
}

.professor {
    width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.professor-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.predmet-text,
.professor-text {
    padding: 0px;
    margin: 0px;
}

.professor-image {
    height: 5rem;
    width: 5rem;

}

.link-no-style {
    text-decoration: none;
    color: inherit;
}